<header id="header">
  <div class="container d-flex">

        <div class="logo mr-auto">
          <!-- <h1 class="text-light"><a href="index.html"><span id="easter_egg3">9PM</span></a></h1> -->
          <!-- Uncomment below if you prefer to use an image logo -->
          <a href="index.html"><img src="images/cssa_logo_text.png" alt="" class="img-fluid"></a>
          <!-- <span id="easter_egg3" class="text-light" style="font-size: 1rem;"><a href="index.html"></a></span> -->
        </div>

        <nav class="nav-menu d-none d-lg-block">
          <ul>
            <li class="active"><a href="index.html">主页!!!</a></li>
            <li><a href="#portfolio">关于CSSA</a></li>
            <li class="drop-down"><a href="">新生服务</a>
              <ul>
                <li><a href="#">新生微信群</a></li>
                <li class="drop-down"><a href="#">新生见面会</a>
                  <ul>
                    <li><a href="#">2020见面会报名（已截止）</a></li>
                    <li><a href="#">2020北京见面会回顾</a></li>
                    <li><a href="#">2020上海见面会回顾</a></li>
                  </ul>
                </li>
                <li><a href="resource/一城一程——UCSD%20CSSA新生手册%204.0.pdf">“一城一程” UCSD新生手册</a></li>
                <li><a href="#">接机服务</a></li>
                <li><a href="#">接机报名微信小程序</a></li>
              </ul>
            </li>

            <li class="drop-down"><a href="">活动</a>
              <ul>
                <li><a href="#">活动主页</a></li>
                <li class="drop-down"><a href="#">开学季活动</a>
                  <ul>
                    <li><a href="#">新生趴2019回顾</a></li>
                    <li><a href="#">新生趴2018回顾</a></li>
                  </ul>
                </li>
                <li class="drop-down"><a href="#">春节系列活动</a>
                  <ul>
                    <li><a href="#">春晚2019回顾</a></li>
                    <li><a href="#">春晚2018回顾</a></li>
                  </ul>
                </li>
                <li><a href="#">春季篮球赛</a></li>
              </ul>
            </li>
            <li class="drop-down"><a href="">成员</a>
              <ul>
                <li><a href="#">PM</a></li>
                <li><a href="#">外联部</a></li>
                <li><a href="#">学术部</a></li>
                <li><a href="#">宣传部</a></li>
                <li><a href="#">文体部</a></li>
                <li class="drop-down"><a href="#">技术部</a>
                  <ul>
                    <li><a href="#">摄制组</a></li>
                    <li><a href="#">开发组</a></li>
                  </ul>
                </li>
                <li><a href="#">Marketing Group</a></li>
              </ul>
            </li>

            <li class="drop-down"><a href="">校内社团介绍</a>
              <ul>
                <li><a target="_blank" href="https://mp.weixin.qq.com/s/s1_7lS7Ro9GN-4elWI1XZw">CES 中国工程学会</a></li>
                <li><a target="_blank" href="https://mp.weixin.qq.com/s/8tWl-B1wBqzQ1lolJs1wQw">Chinese Computer Community</a></li>
                <li><a target="_blank" href="https://mp.weixin.qq.com/s/Gi_o1yWJ3YviblM0f6sJAQ">剧本杀&跑团社团</a></li>
                <li><a target="_blank" href="https://mp.weixin.qq.com/s/oJr3KvVQqxBMavmj6hVKdg">FMO 国风音乐社团</a></li>
                <li><a target="_blank" href="https://mp.weixin.qq.com/s/BimipcvIoE3d5MedLyuo9A">海螺心理</a></li>
                <li><a target="_blank" href="https://mp.weixin.qq.com/s/qvvYh3KuuqP0XWGFlLtIBg">三晤剧社</a></li>
                <li><a target="_blank" href="https://mp.weixin.qq.com/s/1MbWDtZD3zYCn_NU9aYgjQ">CCDT拂衣舞社</a></li>
              </ul>
            </li>

          </ul>
        </nav><!-- .nav-menu -->

      </div>
    </header>
