<!DOCTYPE html>
<html lang="zh-CN">

<head>
    <meta charset="utf-8">
    <meta content="width=device-width, initial-scale=1.0" name="viewport">

    <title>UCSD CSSA 中国学生学者联合会</title>
    <meta content="UCSD Chinese Students and Scholars Association" name="keywords">
    <link rel="icon" href="images/logo.png" type="image/x-icon"/>
    <meta name="Description" content="CSSA是海外留学生自发成立的学生组织。以人为本，团结和服务中国学生学者。丰富中国学生学者社交、学术、职业的体验，促进中美文化交流。">
    <!-- Google Fonts -->
    <link href="./assets/css/google-font.css" rel="stylesheet">

    <!-- Vendor CSS Files -->
    <link href="assets/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <link href="assets/vendor/icofont/icofont.min.css" rel="stylesheet">
    <link href="assets/vendor/boxicons/css/boxicons.min.css" rel="stylesheet">
    <link href="assets/vendor/venobox/venobox.css" rel="stylesheet">
    <link href="assets/vendor/owl.carousel/assets/owl.carousel.min.css" rel="stylesheet">
    <link href="assets/vendor/aos/aos.css" rel="stylesheet">

    <!-- Template Main CSS File -->
    <link href="assets/css/style.css" rel="stylesheet">

    <script src="./assets/vendor/jquery/jquery.min.js"></script>
    <script src="./assets/js/jquery-1.10.2.js"></script>
    <script>
        $(function () {
            $('#headerloader2').load('helloworld.html');
            document.getElementById("headerloader2").innerHTML = "...hello";
        })
    </script>

    <!-- =======================================================
    * Template Name: Flexor - v2.2.0
    * Template URL: https://bootstrapmade.com/flexor-free-multipurpose-bootstrap-template/
    * Author: BootstrapMade.com
    * License: https://bootstrapmade.com/license/
    ======================================================== -->
</head>

<body>


    <!-- ======= Header ======= -->
    <header id="header">
        <div class="container d-flex">
            <div class="logo mr-auto">
                <!-- Uncomment below if you prefer to use an image logo -->
                <a href="index.html"><img src="images/cssa_logo_text.png" alt="" class="img-fluid"></a>
                <!-- <span id="easter_egg3" class="text-light" style="font-size: 1rem;"><a href="index.html"></a></span> -->
            </div>

            <nav class="nav-menu d-none d-lg-block">
                <ul>
                    <li><a href="index.html">主页</a></li>
                    <li><a href="index.html#about">关于CSSA</a></li>
                    <li class="drop-down"><a href="">学生服务</a>
                        <ul>
                            <li><a href="#">新生微信群</a></li>
                            <li class="drop-down"><a href="#">新生见面会</a>
                                <ul>
                                    <li><a href="#">2020见面会报名（已截止）</a></li>
                                    <li><a href="#">2020北京见面会回顾</a></li>
                                    <li><a href="#">2020上海见面会回顾</a></li>
                                </ul>
                            </li>
                            <li><a target="_blank" href="resource/一城一程——UCSD%20CSSA新生手册%204.0.pdf">“一城一程” UCSD新生手册</a>
                            </li>
                            <li><a href="#">接机服务</a></li>
                            <li><a href="#">接机报名微信小程序</a></li>
                            <li><a href="#">健康包发放</a></li>
                        </ul>
                    </li>

                    <li class="drop-down"><a href="">活动</a>
                        <ul>
                            <li><a href="#">活动主页</a></li>
                            <li class="drop-down"><a href="#">开学季活动</a>
                                <ul>
                                    <li><a href="#">新生趴2019回顾</a></li>
                                    <li><a href="#">新生趴2018回顾</a></li>
                                </ul>
                            </li>
                            <li class="drop-down"><a href="#">春节系列活动</a>
                                <ul>
                                    <li><a href="#">春晚2019回顾</a></li>
                                    <li><a href="#">春晚2018回顾</a></li>
                                </ul>
                            </li>
                            <li><a href="#">春季篮球赛</a></li>
                        </ul>
                    </li>
                    <li class="drop-down active"><a href="">部门</a>
                        <ul>
                            <li><a href="主席团.html">PM</a></li>
                            <li><a href="外联部.html">外联部</a></li>
                            <li><a href="学术部.html">学术部</a></li>
                            <li class="active"><a href="宣传部.html">宣传部</a></li>
                            <li><a href="文体部.html">文体部</a></li>
                            <li><a href="开发部.html">开发部</a></li>
                            <li><a href="人事部.html">人事部</a></li>
                            <li><a href="新媒体部.html">新媒体部</a></li>
                            <!--                        <li><a href="实习生.html">实习生</a></li>-->
                        </ul>
                    </li>

                    <li class="drop-down"><a href="">校内社团介绍</a>
                        <ul>
                            <li><a target="_blank" href="https://mp.weixin.qq.com/s/s1_7lS7Ro9GN-4elWI1XZw">CES
                                中国工程学会</a>
                            </li>
                            <li><a target="_blank" href="https://mp.weixin.qq.com/s/8tWl-B1wBqzQ1lolJs1wQw">Chinese
                                Computer
                                Community</a></li>
                            <li><a target="_blank" href="https://mp.weixin.qq.com/s/Gi_o1yWJ3YviblM0f6sJAQ">剧本杀&跑团社团</a>
                            </li>
                            <li><a target="_blank" href="https://mp.weixin.qq.com/s/oJr3KvVQqxBMavmj6hVKdg">FMO
                                国风音乐社团</a>
                            </li>
                            <li><a target="_blank" href="https://mp.weixin.qq.com/s/BimipcvIoE3d5MedLyuo9A">海螺心理</a>
                            </li>
                            <li><a target="_blank" href="https://mp.weixin.qq.com/s/qvvYh3KuuqP0XWGFlLtIBg">三晤剧社</a>
                            </li>
                            <li><a target="_blank" href="https://mp.weixin.qq.com/s/1MbWDtZD3zYCn_NU9aYgjQ">CCDT拂衣舞社</a>
                            </li>
                        </ul>
                    </li>

                </ul>
            </nav><!-- .nav-menu -->
        </div>
    </header><!-- End Header -->


    <main id="main">

        <!-- ======= Breadcrumbs ======= -->
        <section id="breadcrumbs" class="breadcrumbs">
            <div class="container">
                <ol>
                    <li><a href="index.html">主页</a></li>
                    <li><a href="宣传部.html">宣传部</a></li>
                </ol>
                <!-- <h2>Dolorum optio tempore voluptas dignissimos</h2> -->
            </div>
        </section><!-- End Breadcrumbs -->

        <!-- ======= Blog Section ======= -->
        <section id="blog" class="blog">
            <div class="container">

                <div class="row">

                    <div class="col-lg-10 entries">

                        <article class="entry entry-single">

                            <!--                        <div class="entry-img">-->
                            <img src="images/部门照片/宣传部/宣传部合照.JPG" loading="lazy" alt="" class="img-fluid" style="margin-bottom: 20px">
                            <!--                        </div>-->

                            <h2 class="entry-title">
                                <a href="">宣传部</a>
                            </h2>


                            <div class="entry-content">
                                <p>
                                    宣传部是一个话唠的大家庭，在这里，不仅可以带你揭秘推送和海报后面的神奇面纱，还可以让你感受到家的温暖。求贤若渴的我们，希望能与更多志同道合的小伙们一起创新出更多线上线下宣传推广活动，不管是文化祭、春晚，还是海神吃货团。
                                </p>

                                <p>
                                    如果你也是一个拥有许多奇妙思想并勇于挑战的小天才，如果你希望让那些精彩的点子能被看见，能被实践，那么宣传这个快乐的部门你不能错过！
                                </p>


                                <blockquote>
                                    <i class="icofont-quote-left quote-left"></i>
                                    <p>
                                        用色彩点缀，用文字勾勒
                                    </p>
                                    <i class="las la-quote-right quote-right"></i>
                                    <i class="icofont-quote-right quote-right"></i>
                                </blockquote>


                                <h3>招新要求</h3>
                                <p>
                                    宣传部有原本的设计与绘制之外，新媒体的运营也是我们工作的核心部分。配合其他部门完成各项活动的宣传策划，主要通过公众号 ins 微博 脸书
                                    为同学们传达及时准确的一手信息。
                                    而一篇好的文案，并不需要华丽的词藻、过多的赘述，短短几句就能表明深意、抒发情感。如果你是这样的文案高手，那欢迎加入我们！不会但是有兴趣？也可以！
                                    我们需要对公众号文本编辑有兴趣，有能力的人加入到我们外宣部的大家庭。你将有机会在这里组施展你的才华，通过文字连结 UCSD 的华人学生学者，书写属于我们这个
                                    Community
                                    自己的故事，为自己的同胞发声。<br><br>

                                    <u><b>1. 绘制设计组 </b></u><br>
                                <ul>
                                    <li>对于平面设计，和logo设计有一定知识，审美和经验</li>
                                    <li>善于学习和应用Photoshop 或者 Adobe Illustrator及类似的图像处理工具</li>
                                    <li>有美术功底和喜爱绘画（会使用手绘板加分哦）</li>
                                    <li>喜欢玩，善于捕捉热点话题，对于华人留学生关注的资讯有自己的见解～</li>
                                </ul>
                                <br>

                                <u><b>2. 微信组</b></u><br>
                                <ul>
                                    <li>运营和管理CSSA官方账号“留学在UCSD”及“Tritontalk”，定期发送和制作专栏文章，这里是你创意的天堂</li>
                                    <li>有较强的文字功底和创新意识，具有快速捕捉新鲜资讯的能力</li>
                                    <li>有超强耐心和责任感、有统筹规划的能力、善于沟通、乐于奉献</li>
                                    <li>有做有用有益的针对留学生群体的推送的想法</li>
                                </ul>
                                <br>

                                <u><b>3. 运营组</b></u><br>
                                <ul>
                                    <li>有微博、Facebook或Instagram账号管理运营相关经验</li>
                                    <li>喜欢玩社交媒体，善于捕捉热点话题，对于华人留学生关注的资讯有自己的见解</li>
                                    <li>有一定文字功底</li>
                                </ul>
                                <br>

                                有作品的小伙伴请提前发到以下邮箱
                                <text style="color:cornflowerblue"> ucsdcssa1985@gmail.com</text>
                                <br>
                                <br>
                                <h5 style="text-align: center;">
                                    我们需要脑洞大开的画手，妙手生花的编辑师，以及下笔如有神的各种文案写手，如果你觉得自己看完介绍已经心潮涌动，那我们迫不及待的想要与你认识，和你迸发出灵感的火花。
                                </h5>

                                </p>
                            </div>

                        </article><!-- End blog entry -->

                    </div><!-- End blog entries list -->

                </div>

            </div>
        </section><!-- End Blog Section -->


        <!-- ======= Team Section ======= -->
        <section id="team" class="team section-bg">
            <div class="container">

                <div class="section-title">
                    <h2 data-aos="fade-up">部门成员</h2>
                    <p data-aos="fade-up">
                        <script>document.write(new Date().getFullYear());</script>
                        -
                        <script>document.write(new Date().getFullYear() + 1);</script>
                    </p>
                </div>

                <div class="row">

                    <div class="col-lg-3 col-md-6 d-flex align-items-stretch" data-aos="fade-up">
                        <div class="member">
                            <div class="member-img">
                                <img src="images/部门照片/宣传部/陈昱橦.jpg" class="img-fluid" alt="">
                            </div>
                            <div class="member-info">
                                <h4>陈昱橦</h4>
                                <span>宣传部|部长</span>
                            </div>
                        </div>
                    </div>

                    <div class="col-lg-3 col-md-6 d-flex align-items-stretch" data-aos="fade-up">
                        <div class="member">
                            <div class="member-img">
                                <img src="images/部门照片/宣传部/伍可蕾.jpeg" class="img-fluid" alt="">
                            </div>
                            <div class="member-info">
                                <h4>伍可蕾</h4>
                                <span>宣传部</span>
                            </div>
                        </div>
                    </div>

                    <div class="col-lg-3 col-md-6 d-flex align-items-stretch" data-aos="fade-up">
                        <div class="member">
                            <div class="member-img">
                                <img src="images/部门照片/宣传部/崔雨凝.jpeg" class="img-fluid" alt="">
                            </div>
                            <div class="member-info">
                                <h4>崔雨凝</h4>
                                <span>宣传部</span>
                            </div>
                        </div>
                    </div>

                    <div class="col-lg-3 col-md-6 d-flex align-items-stretch" data-aos="fade-up">
                        <div class="member">
                            <div class="member-img">
                                <img src="images/部门照片/宣传部/张驰.JPG" class="img-fluid" alt="">
                            </div>
                            <div class="member-info">
                                <h4>张驰</h4>
                                <span>宣传部</span>
                            </div>
                        </div>
                    </div>

                    <div class="col-lg-3 col-md-6 d-flex align-items-stretch" data-aos="fade-up">
                        <div class="member">
                            <div class="member-img">
                                <img src="images/部门照片/宣传部/徐佳棋.JPG" class="img-fluid" alt="">
                            </div>
                            <div class="member-info">
                                <h4>徐佳棋</h4>
                                <span>宣传部</span>
                            </div>
                        </div>
                    </div>

                    <div class="col-lg-3 col-md-6 d-flex align-items-stretch" data-aos="fade-up">
                        <div class="member">
                            <div class="member-img">
                                <img src="images/部门照片/宣传部/李瑾喻.jpeg" class="img-fluid" alt="">
                            </div>
                            <div class="member-info">
                                <h4>李瑾喻</h4>
                                <span>宣传部</span>
                            </div>
                        </div>
                    </div>

                    <div class="col-lg-3 col-md-6 d-flex align-items-stretch" data-aos="fade-up">
                        <div class="member">
                            <div class="member-img">
                                <img src="images/部门照片/宣传部/樊昕亦.png" class="img-fluid" alt="">
                            </div>
                            <div class="member-info">
                                <h4>樊昕亦</h4>
                                <span>宣传部</span>
                            </div>
                        </div>
                    </div>

                    <div class="col-lg-3 col-md-6 d-flex align-items-stretch" data-aos="fade-up">
                        <div class="member">
                            <div class="member-img">
                                <img src="images/部门照片/宣传部/邱子杰.JPG" class="img-fluid" alt="">
                            </div>
                            <div class="member-info">
                                <h4>邱子杰</h4>
                                <span>宣传部</span>
                            </div>
                        </div>
                    </div>

                    <div class="col-lg-3 col-md-6 d-flex align-items-stretch" data-aos="fade-up">
                        <div class="member">
                            <div class="member-img">
                                <img src="images/部门照片/宣传部/顾宇萱.jpeg" class="img-fluid" alt="">
                            </div>
                            <div class="member-info">
                                <h4>顾宇萱</h4>
                                <span>宣传部</span>
                            </div>
                        </div>
                    </div>

                </div>

            </div>
        </section><!-- End Team Section -->


    </main><!-- End #main -->

    <!-- ======= Footer ======= -->
    <footer id="footer" style="background-color: rgb(48, 51, 56);">
        <div id="footer_icon_container">

            <div class="homepage_footer_icons facebook_blue_icon"
                 onclick="window.open ('https://www.facebook.com/ucsdcssa/')">
                <div id="homepage_footer_widget_facebook" class="homepage_footer_widgets">
                </div>
            </div>

            <div class="homepage_footer_icons green_icon" onmouseover="showImg('wechat')"
                 onmouseout="hideImg('wechat')">
                <div id="homepage_footer_widget_wechat" class="homepage_footer_widgets">
                    <img id="wechat" src="images/wechatQR.png" style="opacity: 1; z-index: 1;">
                </div>
            </div>

            <div class="homepage_footer_icons ins_pink_icon"
                 onclick="window.open('https://www.instagram.com/ucsdcssa1985/')">
                <div id="homepage_footer_widget_instagram" class="homepage_footer_widgets">
                </div>
            </div>
        </div>

        <div class="container d-lg-flex py-4">
            <div>
                <img width="80" height="80" src="images/logo.png" class="front_image  attachment-thumbnail" alt="logo带字"
                     style="position:relative; left:-10px; top:-60px;">
            </div>
            <div class="mr-lg-auto text-center text-lg-left" style="text-align: center; color:rgb(158, 158, 158)">
                <div class="copyright">
                    Copyright &copy;
                    <script>document.write(new Date().getFullYear());</script>
                    <strong>UCSD CSSA</strong> All rights reserved.
                </div>
                <!-- <div style="opacity: 0.3;" >
                    This template is made with ❤ by <a href="https://bootstrapmade.com/" target="_blank" class="text-primary">BootstrapMade</a>
                </div> -->

            </div>
        </div>
    </footer><!-- End Footer -->


    <a href="#" class="back-to-top"><i class="icofont-simple-up"></i></a>

    <!-- Vendor JS Files -->
    <script src="assets/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
    <script src="assets/vendor/jquery.easing/jquery.easing.min.js"></script>
    <script src="assets/vendor/php-email-form/validate.js"></script>
    <script src="assets/vendor/jquery-sticky/jquery.sticky.js"></script>
    <script src="assets/vendor/venobox/venobox.min.js"></script>
    <script src="assets/vendor/owl.carousel/owl.carousel.min.js"></script>
    <script src="assets/vendor/isotope-layout/isotope.pkgd.min.js"></script>
    <script src="assets/vendor/aos/aos.js"></script>

    <!-- Template Main JS File -->
    <script src="assets/js/main.js"></script>
    <script>
        function showImg(id) {
            document.getElementById(id).style.opacity = 1;
            document.getElementById(id).style.zIndex = "1";
        }

        function hideImg(id) {
            document.getElementById(id).style.opacity = 0;
            document.getElementById(id).style.zIndex = "-1";
        }
    </script>

    <!-- 好看的alart -->
    <script src="./assets/js/sweetalert2@9.js"></script>
    <script src="./assets/js/sweetalert2.all.min.js"></script>

    <script>
        $(document).ready(function () {
            var token = '';
            $("#createTeam").click(function () {
                $.ajax({
                    headers: {"token": token},
                    url: '',
                    type: 'get',
                    data: JSON.stringify({
                        "token": token,
                    }),
                    contentType: "application/json",
                    success: function (response) {
                        if (response === 0) {
                            window.location.href("login.html")
                        } else {

                        }
                    },
                    error: function (error) {
                        alert(JSON.parse(error));
                    }
                })
            })
        })
    </script>

</body>

</html>
